<link rel="stylesheet" href="/Login/Layout2.css">
@model Encryption_Project_LIB.DTOs.LoadingData
<style>
    .wrapper {
        height: 55vw !important;
        width: 100vw;
        transform: translateX(-1vw);
    }

    body {
        overflow-x: hidden;
    }
</style>

<div class="wrapper">
    <form asp-action="Login" asp-controller="Authentication" class="login">
        <p class="title">Log in</p>
        <input asp-for="Username" type="text" placeholder="Username" autofocus />
        <i class="fa fa-user"></i>
        <input asp-for="Password" type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="#">Forgot your password?</a>
        <button type="submit">
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
    <footer><a target="blank" href="http://boudra.me/">State Secret Documentation</a></footer>
    </p>
</div>